apiVersion: apps/v1
kind: Deployment
metadata:
  name: fleet-monitor{{- if .Values.shardID }}-shard-{{ .Values.shardID }}{{- end }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "fleet-monitor.labels" . | nindent 4 }}
    {{- if .Values.shardID }}
    fleet.cattle.io/shard-id: {{ .Values.shardID }}
    {{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "fleet-monitor.selectorLabels" . | nindent 6 }}
      {{- if .Values.shardID }}
      fleet.cattle.io/shard-id: {{ .Values.shardID }}
      {{- end }}
  template:
    metadata:
      labels:
        {{- include "fleet-monitor.selectorLabels" . | nindent 8 }}
        {{- if .Values.shardID }}
        fleet.cattle.io/shard-id: {{ .Values.shardID }}
        {{- end }}
    spec:
      serviceAccountName: fleet-monitor
      {{- with .Values.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: fleet-monitor
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.imagePullPolicy }}
        command:
        - fleetmonitor
        {{- if .Values.shardID }}
        - --shard-id={{ .Values.shardID }}
        {{- end }}
        {{- if .Values.debug }}
        - --debug
        - --debug-level={{ .Values.debugLevel }}
        {{- end }}
        env:
        - name: NAMESPACE
          value: {{ .Values.namespace | quote }}
        - name: ENABLE_BUNDLE_MONITOR
          value: {{ .Values.controllers.bundle | quote }}
        - name: ENABLE_BUNDLEDEPLOYMENT_MONITOR
          value: {{ .Values.controllers.bundledeployment | quote }}
        - name: ENABLE_CLUSTER_MONITOR
          value: {{ .Values.controllers.cluster | quote }}
        - name: ENABLE_GITREPO_MONITOR
          value: {{ .Values.controllers.gitrepo | quote }}
        - name: ENABLE_HELMAPP_MONITOR
          value: {{ .Values.controllers.helmapp | quote }}
        - name: BUNDLE_RECONCILER_WORKERS
          value: {{ .Values.workers.bundle | quote }}
        - name: BUNDLEDEPLOYMENT_RECONCILER_WORKERS
          value: {{ .Values.workers.bundledeployment | quote }}
        - name: CLUSTER_RECONCILER_WORKERS
          value: {{ .Values.workers.cluster | quote }}
        - name: GITREPO_RECONCILER_WORKERS
          value: {{ .Values.workers.gitrepo | quote }}
        - name: HELMAPP_RECONCILER_WORKERS
          value: {{ .Values.workers.helmapp | quote }}
        {{- if .Values.debug }}
        - name: CATTLE_DEV_MODE
          value: "true"
        {{- end }}
        {{- if .Values.leaderElection.enabled }}
        - name: CATTLE_ELECTION_LEASE_DURATION
          value: {{ .Values.leaderElection.leaseDuration | quote }}
        - name: CATTLE_ELECTION_RETRY_PERIOD
          value: {{ .Values.leaderElection.retryPeriod | quote }}
        - name: CATTLE_ELECTION_RENEW_DEADLINE
          value: {{ .Values.leaderElection.renewDeadline | quote }}
        {{- end }}
        # Per-controller detailed logging flags
        - name: FLEET_MONITOR_BUNDLE_DETAILED
          value: {{ .Values.logging.bundle.detailed | quote }}
        - name: FLEET_MONITOR_BUNDLEDEPLOYMENT_DETAILED
          value: {{ .Values.logging.bundleDeployment.detailed | quote }}
        - name: FLEET_MONITOR_CLUSTER_DETAILED
          value: {{ .Values.logging.cluster.detailed | quote }}
        - name: FLEET_MONITOR_GITREPO_DETAILED
          value: {{ .Values.logging.gitRepo.detailed | quote }}
        - name: FLEET_MONITOR_HELMAPP_DETAILED
          value: {{ .Values.logging.helmApp.detailed | quote }}
        # Bundle resource filters
        - name: FLEET_MONITOR_BUNDLE_RESOURCE_FILTER_NAMESPACE
          value: {{ .Values.logging.bundle.resourceFilter.namespace | quote }}
        - name: FLEET_MONITOR_BUNDLE_RESOURCE_FILTER_NAME
          value: {{ .Values.logging.bundle.resourceFilter.name | quote }}
        # Bundle event filters
        - name: FLEET_MONITOR_BUNDLE_EVENT_GENERATION_CHANGE
          value: {{ .Values.logging.bundle.eventFilters.generationChange | quote }}
        - name: FLEET_MONITOR_BUNDLE_EVENT_STATUS_CHANGE
          value: {{ .Values.logging.bundle.eventFilters.statusChange | quote }}
        - name: FLEET_MONITOR_BUNDLE_EVENT_ANNOTATION_CHANGE
          value: {{ .Values.logging.bundle.eventFilters.annotationChange | quote }}
        - name: FLEET_MONITOR_BUNDLE_EVENT_LABEL_CHANGE
          value: {{ .Values.logging.bundle.eventFilters.labelChange | quote }}
        - name: FLEET_MONITOR_BUNDLE_EVENT_RESVER_CHANGE
          value: {{ .Values.logging.bundle.eventFilters.resourceVersionChange | quote }}
        - name: FLEET_MONITOR_BUNDLE_EVENT_DELETION
          value: {{ .Values.logging.bundle.eventFilters.deletion | quote }}
        - name: FLEET_MONITOR_BUNDLE_EVENT_NOT_FOUND
          value: {{ .Values.logging.bundle.eventFilters.notFound | quote }}
        - name: FLEET_MONITOR_BUNDLE_EVENT_CREATE
          value: {{ .Values.logging.bundle.eventFilters.create | quote }}
        - name: FLEET_MONITOR_BUNDLE_EVENT_TRIGGERED_BY
          value: {{ .Values.logging.bundle.eventFilters.triggeredBy | quote }}
        # BundleDeployment resource filters
        - name: FLEET_MONITOR_BUNDLEDEPLOYMENT_RESOURCE_FILTER_NAMESPACE
          value: {{ .Values.logging.bundleDeployment.resourceFilter.namespace | quote }}
        - name: FLEET_MONITOR_BUNDLEDEPLOYMENT_RESOURCE_FILTER_NAME
          value: {{ .Values.logging.bundleDeployment.resourceFilter.name | quote }}
        # BundleDeployment event filters
        - name: FLEET_MONITOR_BD_EVENT_GENERATION_CHANGE
          value: {{ .Values.logging.bundleDeployment.eventFilters.generationChange | quote }}
        - name: FLEET_MONITOR_BD_EVENT_STATUS_CHANGE
          value: {{ .Values.logging.bundleDeployment.eventFilters.statusChange | quote }}
        - name: FLEET_MONITOR_BD_EVENT_ANNOTATION_CHANGE
          value: {{ .Values.logging.bundleDeployment.eventFilters.annotationChange | quote }}
        - name: FLEET_MONITOR_BD_EVENT_LABEL_CHANGE
          value: {{ .Values.logging.bundleDeployment.eventFilters.labelChange | quote }}
        - name: FLEET_MONITOR_BD_EVENT_RESVER_CHANGE
          value: {{ .Values.logging.bundleDeployment.eventFilters.resourceVersionChange | quote }}
        - name: FLEET_MONITOR_BD_EVENT_DELETION
          value: {{ .Values.logging.bundleDeployment.eventFilters.deletion | quote }}
        - name: FLEET_MONITOR_BD_EVENT_NOT_FOUND
          value: {{ .Values.logging.bundleDeployment.eventFilters.notFound | quote }}
        - name: FLEET_MONITOR_BD_EVENT_CREATE
          value: {{ .Values.logging.bundleDeployment.eventFilters.create | quote }}
        - name: FLEET_MONITOR_BD_EVENT_TRIGGERED_BY
          value: {{ .Values.logging.bundleDeployment.eventFilters.triggeredBy | quote }}
        # Cluster resource filters
        - name: FLEET_MONITOR_CLUSTER_RESOURCE_FILTER_NAMESPACE
          value: {{ .Values.logging.cluster.resourceFilter.namespace | quote }}
        - name: FLEET_MONITOR_CLUSTER_RESOURCE_FILTER_NAME
          value: {{ .Values.logging.cluster.resourceFilter.name | quote }}
        # Cluster event filters
        - name: FLEET_MONITOR_CLUSTER_EVENT_GENERATION_CHANGE
          value: {{ .Values.logging.cluster.eventFilters.generationChange | quote }}
        - name: FLEET_MONITOR_CLUSTER_EVENT_STATUS_CHANGE
          value: {{ .Values.logging.cluster.eventFilters.statusChange | quote }}
        - name: FLEET_MONITOR_CLUSTER_EVENT_ANNOTATION_CHANGE
          value: {{ .Values.logging.cluster.eventFilters.annotationChange | quote }}
        - name: FLEET_MONITOR_CLUSTER_EVENT_LABEL_CHANGE
          value: {{ .Values.logging.cluster.eventFilters.labelChange | quote }}
        - name: FLEET_MONITOR_CLUSTER_EVENT_RESVER_CHANGE
          value: {{ .Values.logging.cluster.eventFilters.resourceVersionChange | quote }}
        - name: FLEET_MONITOR_CLUSTER_EVENT_DELETION
          value: {{ .Values.logging.cluster.eventFilters.deletion | quote }}
        - name: FLEET_MONITOR_CLUSTER_EVENT_NOT_FOUND
          value: {{ .Values.logging.cluster.eventFilters.notFound | quote }}
        - name: FLEET_MONITOR_CLUSTER_EVENT_CREATE
          value: {{ .Values.logging.cluster.eventFilters.create | quote }}
        - name: FLEET_MONITOR_CLUSTER_EVENT_TRIGGERED_BY
          value: {{ .Values.logging.cluster.eventFilters.triggeredBy | quote }}
        # GitRepo resource filters
        - name: FLEET_MONITOR_GITREPO_RESOURCE_FILTER_NAMESPACE
          value: {{ .Values.logging.gitRepo.resourceFilter.namespace | quote }}
        - name: FLEET_MONITOR_GITREPO_RESOURCE_FILTER_NAME
          value: {{ .Values.logging.gitRepo.resourceFilter.name | quote }}
        # GitRepo event filters
        - name: FLEET_MONITOR_GITREPO_EVENT_GENERATION_CHANGE
          value: {{ .Values.logging.gitRepo.eventFilters.generationChange | quote }}
        - name: FLEET_MONITOR_GITREPO_EVENT_STATUS_CHANGE
          value: {{ .Values.logging.gitRepo.eventFilters.statusChange | quote }}
        - name: FLEET_MONITOR_GITREPO_EVENT_ANNOTATION_CHANGE
          value: {{ .Values.logging.gitRepo.eventFilters.annotationChange | quote }}
        - name: FLEET_MONITOR_GITREPO_EVENT_LABEL_CHANGE
          value: {{ .Values.logging.gitRepo.eventFilters.labelChange | quote }}
        - name: FLEET_MONITOR_GITREPO_EVENT_RESVER_CHANGE
          value: {{ .Values.logging.gitRepo.eventFilters.resourceVersionChange | quote }}
        - name: FLEET_MONITOR_GITREPO_EVENT_DELETION
          value: {{ .Values.logging.gitRepo.eventFilters.deletion | quote }}
        - name: FLEET_MONITOR_GITREPO_EVENT_NOT_FOUND
          value: {{ .Values.logging.gitRepo.eventFilters.notFound | quote }}
        - name: FLEET_MONITOR_GITREPO_EVENT_CREATE
          value: {{ .Values.logging.gitRepo.eventFilters.create | quote }}
        - name: FLEET_MONITOR_GITREPO_EVENT_TRIGGERED_BY
          value: {{ .Values.logging.gitRepo.eventFilters.triggeredBy | quote }}
        # HelmApp resource filters
        - name: FLEET_MONITOR_HELMAPP_RESOURCE_FILTER_NAMESPACE
          value: {{ .Values.logging.helmApp.resourceFilter.namespace | quote }}
        - name: FLEET_MONITOR_HELMAPP_RESOURCE_FILTER_NAME
          value: {{ .Values.logging.helmApp.resourceFilter.name | quote }}
        # HelmApp event filters
        - name: FLEET_MONITOR_HELMAPP_EVENT_GENERATION_CHANGE
          value: {{ .Values.logging.helmApp.eventFilters.generationChange | quote }}
        - name: FLEET_MONITOR_HELMAPP_EVENT_STATUS_CHANGE
          value: {{ .Values.logging.helmApp.eventFilters.statusChange | quote }}
        - name: FLEET_MONITOR_HELMAPP_EVENT_ANNOTATION_CHANGE
          value: {{ .Values.logging.helmApp.eventFilters.annotationChange | quote }}
        - name: FLEET_MONITOR_HELMAPP_EVENT_LABEL_CHANGE
          value: {{ .Values.logging.helmApp.eventFilters.labelChange | quote }}
        - name: FLEET_MONITOR_HELMAPP_EVENT_RESVER_CHANGE
          value: {{ .Values.logging.helmApp.eventFilters.resourceVersionChange | quote }}
        - name: FLEET_MONITOR_HELMAPP_EVENT_DELETION
          value: {{ .Values.logging.helmApp.eventFilters.deletion | quote }}
        - name: FLEET_MONITOR_HELMAPP_EVENT_NOT_FOUND
          value: {{ .Values.logging.helmApp.eventFilters.notFound | quote }}
        - name: FLEET_MONITOR_HELMAPP_EVENT_CREATE
          value: {{ .Values.logging.helmApp.eventFilters.create | quote }}
        - name: FLEET_MONITOR_HELMAPP_EVENT_TRIGGERED_BY
          value: {{ .Values.logging.helmApp.eventFilters.triggeredBy | quote }}
        # Summary configuration
        - name: FLEET_MONITOR_SUMMARY_INTERVAL
          value: {{ .Values.logging.summary.interval | quote }}
        - name: FLEET_MONITOR_SUMMARY_RESET
          value: {{ .Values.logging.summary.resetOnPrint | quote }}
        {{- with .Values.extraEnv }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
            - ALL
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        volumeMounts:
        - name: tmp
          mountPath: /tmp
      volumes:
      - name: tmp
        emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
